/* Write your CSS here */

.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  color: #f0bb03;
}
.para {
  color: #ffffff;
}
